{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Customers{% endblock %}</h1>
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
  <ul class="flash-messages" style="list-style-type: none">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
{% endwith %}

<div class="main-content">
  {% for customer in customers %}
    <article class="post" style="width: 45%;">
      <header>
        <div>
          <h1>{{ customer['name'] }}</h1>
          <div class="about">Customer Number: {{ customer['cust_no'] }}</div>
        </div>
        <form action="{{ url_for('delete_customer', cust_no=customer['cust_no']) }}" method="post" style="display: inline;">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="action delete-btn" onclick="return confirm('Are you sure you want to delete this customer?');">Delete</button>
        </form>
      </header>
      <p class="body">Email: {{ customer['email'] }}</p>
      <p class="body">Phone Number: {{ customer['phone'] }}</p>
      <p class="body">Address: {{ customer['address'] }}</p>
    </article>
    {% if not loop.last and loop.index % 2 == 0 %}
      <hr style="width: 100%;">
    {% endif %}
  {% endfor %}
</div>
<div style="display: flex; justify-content: end;">
  <button class="footer-btn" onclick="location.href='{{ url_for('create_customer') }}'">Insert a New Customer</button>
</div>
{% endblock %}
