{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Place New Order{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="POST" action="{{ url_for('create_customer') }}">
    <label for="order_no">Order number: </label>
    <input type="text" id="order_no" name="order_no" required><br>
    <label for="cust_no">Customer placing the order: </label>
    <input type="text" id="cust_no" name="cust_no" required><br>
    <label for="date">Date:</label>
    <input type="date" id="date" name="date" required><br>
    <input type="submit" value="Insert New Customer">
  </form>
{% endblock %}