{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Orders{% endblock %}</h1>
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
  <ul class="flash-messages">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
{% endwith %}

  <h2>Product Selection</h2>
  <form method="POST" action="{{ url_for('create_order') }}">
    <div class="main-content">
    {% for product in products%}
      <div style="width: 33.3%;">
        <h3><label for="sku">{{ product.name }}</label></h3>
        <p><label for="price">Price: {{ product.price }}</label></p>
        <p><label for="description">Description: {{ product.description }}</label></p>
        <label for="qty">Quantity: </label>
        <input type="number" id="qty{{ product.sku }}" name="qty{{ product.sku }}" min = "0" value="0" required><br>
      </div>
      {% if not loop.last and loop.index % 3 == 0 %}
      <hr style="width: 100%;">
      {% endif %}
    {% endfor %}
    </div>
    <h2>Checkout</h2>
    <p><input type="hidden" id="order_no" name="order_no" value="{{ new_order_no }}">Your order number is {{new_order_no}}</p>
    <label for="cust_no">Number of customer placing the order : </label>
    <input type="text" id="cust_no" name="cust_no" pattern="[0-9]+" required><br><br> 
    <label for="date">Date:</label>
    <input type="date" id="date" name="date" required><br>
    <button class="footer-btn-2" type="submit" name="pay_optn" value="later">Finish Order and Pay Later</button>
    <button class="footer-btn" type="submit" name="pay_optn" value="now">Finish Order and Pay Now</button>
  </form>


{% endblock %}
