{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Orders{% endblock %}</h1>
{% endblock %}

{% block content %}
  <h2>Product Selection</h2>
  <form method="POST" action="{{ url_for('create_order') }}">
    {% for product in products%}
        <p><label for="sku">{{ product.name }}</label></p>
        <p><label for="price">Price: {{ product.price }}</label></p>
        <p><label for="description">Description: {{ product.description }}</label></p>
        <label for="quantity">Quantity: </label>
        <input type="number" id="quantity" name="quantity" min = "0" value="0" required><br>
    {% endfor %}
    <label for="order_no">Order number: </label>
    <input type="text" id="order_no" name="order_no" required><br>
    <label for="cust_no">Customer placing the order: </label>
    <input type="text" id="cust_no" name="cust_no" required><br>
    <label for="date">Date:</label>
    <input type="date" id="date" name="date" required><br>
    <button type="submit" name="pay_optn" value="later">Finish Order and Pay Later</button>
    <button type="submit" name="pay_optn" value="now">Finish Order and Pay Now</button>
  </form>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flash-messages">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
{% endblock %}
