{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Pay for Order{% endblock %}</h1>
{% endblock %}

{% block content %}
  <h2>Order Details</h2>
  <p>Order number: {{ order_no }}</p>
  <p>Order cost: {{ order_price }}</p>
  <p>Order placed by customer {{ order_info.customer_no }}</p>
  <button type="submit">Pay</button>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flash-messages">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

{% endblock %}