{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Pay for Order{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="POST">
    <h2>Order Details</h2>
    <label>Order number: {{ order_no }}<br><br>
    <label>Order cost: {{ order_price }}<br><br>
    <input type="hidden" name="cust_no" value="{{ order_info[0] }}">Order placed by customer {{ order_info[0] }}<br><br>
    <label>Order placed on {{ order_info[1] }}<br><br>
    <button type="submit">Pay</button>
  </form>

{% endblock %}