{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Insert New Supplier{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="POST" action="{{ url_for('create_supplier') }}">
    <label for="tin">TIN:</label>
    <input type="text" id="tin" name="tin" required><br>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required><br>
    <label for="address">Address:</label>
    <input type="text" id="address" name="address" required><br>
    <label for="sku">SKU:</label>
    <input type="text" id="sku" name="sku" required><br>
    <label for="date">Contract date:</label>
    <input type="date" id="date" name="date" required><br>
    <input type="submit" value="Insert New Supplier">
  </form>
  
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flash-messages">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
{% endblock %}