{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Suppliers{% endblock %}</h1>
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
  <ul class="flash-messages" style="list-style-type: none">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
{% endwith %}
<div class="main-content">
  {% for supplier in suppliers %}
    <article class="post" style="width: 33%;">
      <header>
        <div>
          <h1>{{ supplier['name'] }}</h1>
          <div class="about">TIN: {{ supplier['tin'] }}</div>
        </div>
        <form action="{{ url_for('delete_supplier', tin=supplier['tin']) }}" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="action delete-btn" onclick="return confirm('Are you sure you want to delete this supplier?');">Delete</button>
        </form>
      </header>
      <p class="body">Address: {{ supplier['address'] }}</p>
      <p class="body">Supplied Product SKU: {{ supplier['sku'] }}</p>
      <p class="body">Contract date: {{ supplier['date'] }}</p>
    </article>
    {% if not loop.last and loop.index % 3 == 0 %}
      <hr style="width: 100%;">
    {% endif %}
  {% endfor %}
</div>
<div style="display: flex; flex-direction: column;">
  <div style="display: flex; justify-content: center; text-align: center;">
    {%if page > 1 %}
    <button class="page-btn" onclick="location.href='{{ url_for('suppliers_index', page=page-1)}}'"><</button>
    {% endif %}
    <div>page {{ page }}</div>
    {% if suppliers|length == 9 %}
    <button class="page-btn" onclick="location.href='{{ url_for('suppliers_index', page=page+1)}}'">></button>
    {% endif %}
  </div>
  <button class="footer-btn" style="margin-left: auto;" onclick="location.href='{{ url_for('create_supplier') }}'">Insert a New Supplier</button>
</div>
{% endblock %}