{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Create Product{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="POST" action="{{ url_for('create_product') }}">
    <div class="product-div">
      <label for="sku">SKU:</label>
      <input type="text" id="sku" name="sku" required><br>
    </div>
    <div class="product-div">
      <label for="name">Name:</label>
    <input type="text" id="name" name="name" required><br>
    </div>
    <div class="product-div">
      <label for="price">Price:</label>
      <input type="number" id="price" name="price" min="0" step="0.01" required><br>
    </div>
    <div class="product-div">
      <label for="description">Description:</label>
    <input id="description" size="50" name="description"></input>
    </div>
    <div class="product-div">
      <label for="sku">EAN Number:</label>
    <input type="text" id="ean_number" name="ean_number"><br>
    </div>
    <input class="footer-btn" type="submit" value="Create Product">
  </form>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flash-messages" style="list-style-type: none">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
{% endblock %}
